/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@font-face {
    font-family: "Righteous";
    src: url("../fonts/Verdana-Black.ttf");
    src: url("../fonts/Poppins.ttf");
}


/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: Poppins;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

 :focus {
    outline: 0;
}

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 0px;
}

.padding_0 {
    padding: 0px;
}

.logo {
    width: 38%;
    float: left;
}

.header_section {
    width: 100%;
    float: left;
    background-image: url(../images/banner-bg.png);
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.bg-light {
    background-color: transparent !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.search_menu {
    float: left;
}

.search_menu ul {
    margin: 0px;
    padding: 0px;
}

.search_menu li {
    float: left;
    padding: 0px 25px;
}

.search_section li a {
    color: #000;
}

.banner_section {
    width: 100%;
    float: left;
    padding-bottom: 40px;
}

.banner_taital {
    width: 100%;
    float: left;
    font-size: 67px;
    color: #f1f0f0;
    font-weight: bold;
    line-height: 70px;
}

.banner_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #f1f0f0;
    margin-left: 0px;
}

.taital_main {
    padding-left: 95px;
}

.btn_main {
    width: 100%;
    float: left;
}

.more_bt {
    width: 170px;
    float: left;
}

.more_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #f1f0f0;
    background-color: #d71a7b;
    text-align: center;
    padding: 10px 0px;
}

.contact_bt {
    width: 170px;
    float: left;
    margin-left: 15px;
}

.contact_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #141313;
    background-color: #ffffff;
    text-align: center;
    padding: 10px 0px;
}

.contact_bt a:hover {
    color: #f1f0f0;
    background-color: #d71a7b;
}

.image_1 {
    width: 90%;
    float: right;
    text-align: center;
}

.image_2 {
    width: 30%;
    float: left;
    position: relative;
    left: -60px;
}

.play_icon {
    width: 100%;
    float: left;
    text-align: center;
}

.one_text {
    font-size: 22px;
    color: #ffffff;
}

.one_text::after {
    content: '';
    position: absolute;
    background-color: #ffffff;
    height: 3px;
    width: 70px;
    margin: 0 auto;
    left: 20px;
    right: 0;
    text-align: center;
    top: 86px;
}

.one_text_1 {
    font-size: 22px;
    color: #ffffff;
}

.one_text_1::after {
    content: '';
    position: absolute;
    background-color: #ffffff;
    height: 3px;
    width: 70px;
    margin: 0 auto;
    left: 20px;
    right: 0;
    text-align: center;
    top: 86px;
}

.carousel-control-prev-icon {
    background: transparent;
}

.carousel-control-next-icon {
    background: transparent;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.carousel-control-prev {
    left: 0px;
    top: -600px;
}

.carousel-control-next {
    right: 520px;
    top: 410px;
}

.sales_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.sales_box {
    width: 100%;
    float: left;
    background-color: #d71a7b;
    height: auto;
    padding: 20px 20px 39px 20px;
}

.left_main {
    width: 50%;
    float: left;
}

.best_taital {
    width: 100%;
    float: left;
    color: #fefdfd;
    font-size: 26px;
    font-weight: bold;
}

.best_text {
    width: 100%;
    float: left;
    color: #fefdfd;
    font-size: 16px;
    margin: 0px;
}

.contact_bt_1 {
    width: 140px;
    float: left;
    margin-top: 20px;
}

.contact_bt_1 a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #d71a7b;
    background-color: #ffffff;
    text-align: center;
    padding: 10px 0px;
    text-transform: uppercase;
}

.contact_bt_1 a:hover {
    color: #f1f0f0;
    background-color: #d71a7b;
}

.sales_box_1 {
    width: 100%;
    float: left;
    background-color: #4c35bc;
    height: auto;
    padding: 20px;
}

.image_3 {
    width: 100%;
    float: left;
    padding-top: 40px;
}

.shop_bt {
    width: 140px;
    float: left;
    margin-top: 20px;
}

.shop_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #4c35bc;
    background-color: #ffffff;
    text-align: center;
    padding: 10px 0px;
    text-transform: uppercase;
}

.shop_bt a:hover {
    color: #f1f0f0;
    background-color: #4c35bc;
}

.category_section {
    width: 100%;
    float: left;
    background-color: #4c35bc;
    height: auto;
    padding: 10px 0px;
}

.category_menu {
    width: 100%;
    float: left;
}

.category_menu ul {
    margin: 0px;
    padding: 0px;
}

.category_menu li {
    float: left;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.category_menu li a {
    color: #ffffff;
    padding: 14px 76px;
}

.category_menu li a:hover {
    color: #000;
    background-color: #ffffff;
}

.category_section_2 {
    width: 100%;
    float: left;
    padding-top: 40px;
    background-color: #fafafa;
    padding-bottom: 45px;
}

.new_box {
    width: 100%;
    float: left;
    background-color: #ffffff;
    border: 1px solid #c9c9c9;
}

.new_text {
    width: 100px;
    float: left;
    font-size: 20px;
    color: #ffffff;
    background-color: #4c35bc;
    text-align: center;
    padding: 6px 20px;
    text-transform: uppercase;
}

.new_text a {
    color: #ffffff;
}

.image_5 {
    width: 100%;
    float: left;
    text-align: center;
    min-height: 210px;
    padding-top: 30px;
}

.new_box_1 {
    width: 100%;
    float: left;
    padding: 10px 10px 10px 10px;
    background-color: #d71a7b;
}

.box_left {
    width: 50%;
    float: left;
}

.led_text {
    width: 100%;
    float: left;
    font-size: 17px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 0;
}

.buy_text {
    width: 100%;
    float: left;
    font-size: 17px;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 13px;
    text-align: right;
}

#main_slider a.carousel-control-next {
    position: absolute;
    right: 30px;
    top: 35%;
}

#main_slider .carousel-control-next {
    width: 65px;
    height: 65px;
    background: #464646;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
    border-radius: 3px;
}

.padding_top_10 {
    padding-top: 0px;
}

#main_slider a.carousel-control-prev {
    position: absolute;
    left: 30px;
    top: 35%;
    background-color: #464646;
}

#main_slider .carousel-control-prev {
    width: 65px;
    height: 65px;
    background: #4d35bc;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
    border-radius: 3px;
}

#main_slider .carousel-control-prev:hover,
#main_slider .carousel-control-next:hover,
#main_slider .carousel-control-prev:focus,
#main_slider .carousel-control-next:focus {
    background: #4c35bc;
    color: #000;
}

.about_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.image_9 {
    width: 100%;
    float: left;
    padding-top: 50px;
}

.about_box {
    width: 100%;
    float: left;
    border: 1px solid #000;
    padding: 80px 60px 80px 40px;
    position: relative;
    left: 30px;
}

.about_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #0f0e0e;
}

.about_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #0f0e0e;
    margin: 0px;
}

.read_bt {
    width: 150px;
    float: left;
    margin-top: 30px;
}

.read_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #4c35bc;
    text-align: center;
    padding: 9px 0px;
}

.read_bt a:hover {
    color: #ffffff;
    background-color: #252525;
}

.products_section {
    width: 100%;
    float: left;
    background-image: url(../images/products-bg.png);
    height: auto;
    background-size: 100%;
    padding: 40px 0px;
    margin-bottom: 90px;
}

.product_taital {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #ffffff;
}

.products_main {
    padding-left: 100px;
}

.product_text {
    width: 100%;
    float: left;
    font-size: 70px;
    color: #ffffff;
}

.shop_bt_1 {
    width: 150px;
    float: left;
    margin-top: 30px;
}

.shop_bt_1 a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #252525;
    text-align: center;
    padding: 9px 0px;
}

.shop_bt_1 a:hover {
    color: #252525;
    background-color: #ffffff;
}

.images_main {
    width: 100%;
    float: left;
    display: flex;
}

.image_10 {
    width: 100%;
    float: left;
    padding-top: 30px;
}

.watch_section {
    width: 100%;
    float: left;
    background-color: #fafafa;
    height: auto;
    padding-bottom: 90px;
}

.watch_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #0f0e0e;
    padding-top: 70px;
}

.watch_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #0f0e0e;
    margin: 0px;
    padding-top: 30px;
}

.read_bt_1 {
    width: 150px;
    float: left;
    margin-top: 50px;
}

.read_bt_1 a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #252525;
    text-align: center;
    padding: 9px 0px;
}

.read_bt_1 a:hover {
    color: #ffffff;
    background-color: #4c35bc;
}

.client_section {
    width: 100%;
    float: left;
    padding-bottom: 100px;
}

.client_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #0f0e0e;
    font-weight: 500;
}

.client_section_2 {
    width: 100%;
    float: left;
}

.quote_icon {
    width: 100%;
    float: left;
}

.sandy_text {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #1a1a1b;
    padding-top: 30px;
}

.lorem_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #161617;
    margin-left: 0px;
}

.footer_section {
    width: 100%;
    float: left;
    background-color: #1e1e1e;
    height: auto;
}

.footer_taital {
    width: 100%;
    float: left;
    font-size: 26px;
    color: #ffffff;
    font-weight: 500;
}

.dolor_text {
    width: 90%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    margin-left: 0px;
    margin-top: 0px;
}

.dolor_text_1 {
    width: 60%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    margin-left: 0px;
    margin-top: 0px;
}

.enter_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ccc8c8;
    background-color: #ffffff;
    border-radius: 40px;
    padding: 5px 20px;
    border: 0px;
}

.subscribe_bt {
    width: 150px;
    float: left;
    margin-top: 20px;
}

.subscribe_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fefeff;
    background-color: #4c35bc;
    border-radius: 40px;
    padding: 7px 0px;
    text-align: center;
    text-transform: uppercase;
}

.social_icon {
    width: 100%;
    float: left;
}

.social_icon ul {
    margin: 0px;
    padding: 0px;
}

.social_icon li {
    float: left;
    padding-left: 10px;
    padding-top: 30px;
}

.footer_logo {
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 80px;
}

.copyright_section {
    width: 100%;
    float: left;
    margin-top: 55px;
    text-align: center;
}

.copyright_text {
    width: 100%;
    float: left;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    margin-left: 0px;
    padding: 20px 0px 20px 0px;
    border-top: 1px solid #7b7b7b;
}

.copyright_text a {
    color: #ffffff;
}

.copyright_text a:hover {
    color: #878686;
}

.contact_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.touch_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #1d1c1c;
    font-weight: bold;
    text-align: center;
}

.contact_section_2 {
    width: 100%;
    float: left;
    margin-top: 30px;
}

.email_text {
    width: 100%;
    float: left;
    padding: 20px 20px 20px 20px;
}

.email-bt {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #2a2a2c;
    margin-bottom: 20px;
    padding: 8px 15px;
    border: 1px solid #909090;
}

.massage-bt {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #2a2a2c;
    margin-bottom: 20px;
    padding: 40px 15px 8px 15px;
    border: 1px solid #909090;
    height: 120px;
}

.send_btn {
    width: 170px;
    float: left;
}

.send_btn a {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    background-color: #4c35bc;
    padding: 10px;
    border-radius: 30px;
}

.map_main {
    width: 100%;
    float: left;
    padding-top: 20px;
}

.margin_top_90 {
    margin-top: 90px;
}

